////
// Meant for cluster-specific or hardware-specific configuration
////

//params.storeDB = "/oasis/tscc/scratch/tfallon/transXpress_store/" //All the used bioinformatic databases (e.g. pfam, swissprot) will be downloaded to this location
params.storeDB = "/lab/weng_scratch/tmp/transXpress_store/" //All the used bioinformatic databases (e.g. pfam, swissprot) will be downloaded to this location
//Needs ~10 GB of space, and should be on a shared filesystem to enable all forked transXpress processes to access the files.

///TransXpress is setup such that each process has well defined CPU and memory requirements
///so a HPC scheduler can allocate processes to nodes accurately.
///But, some HPC systems restrict nodes with specialized resources to certain queues only. The parameters
///below allow for high memory, standard, or short-time node queues to be selected.
///If your default HPC queue allows all types of nodes to be selected, set all 3 to your default queue

//params.queue_highmemory_nodes = "pdafm"
//params.queue_standard_nodes = "hotel"
//params.queue_shorttime_nodes = "hotel"
params.queue_highmemory_nodes = "normal"
params.queue_standard_nodes = "normal"
params.queue_shorttime_nodes = "normal"

//params.cluster_options = "-V"
//params.before_script_cmds = ". '/home/tfallon/miniconda3/etc/profile.d/conda.sh';conda activate transxpress"
params.cluster_options = ""
params.before_script_cmds = ""

executor.queueSize = 450
executor.exitReadTimeout = "120 sec"
